<hamber-dir></hamber-dir>
<myprofile-dir>
    <div id="content7" class="snap-content contanet_profile">
        <div id="toolbar">
            <a href="" id="open-right"></a>
            <p class="logo_name" >کارخونه</p>
            <div class="icons">
                <a class="msg" href=""><img src="img/mail-24-128.png" ><i>99</i></a>
                <a href=""><img src="img/search-128.png" ></a>
            </div>
            <div class="clear"></div>
        </div>
        <!--=======================contant_profile=======================-->
        <div class="contant_profile bs">
            <!--=============================-->
            <div class="short_info">
                <div class="profile_short_info bs">
                    <h3 >{{user_info[0].name}}</h3>
                    <h5 ng-if="user_info[0].field">{{user_info[0].field}}</h5>
                    <span class="vline">{{now_year - user_info[0].age}} ساله </span>
                    <span> {{user_info[0].state}} ، {{user_info[0].city}} </span>
                </div>
                 <!--=============end profile_short_info================-->
                <div class="setting_link bs"><img src="img/menu_setting.png"></div>
                 <!--===========end setting_link==================-->
                <div class="clear"></div>
                <!--=============================-->
                <div ng-if="user_info[0].picname" class="user_img bs"><span style='background-image:url({{base_url}}uploads/user_img/{{user_info[0].picname}});'></span></div>
                <div ng-if="!user_info[0].picname && user_info[0].gender == 0" class="user_img bs"><span style='background-image:url(img/img/user_men.jpg);'></span></div>
                <div ng-if="!user_info[0].picname && user_info[0].gender == 1" class="user_img bs"><span style='background-image:url(img/img/user_women.jpg);'></span></div>
                <!--================end user_img=============-->
                <div class="some_flowers bs">
                    <h3>برخی از دنبال کنندگان</h3>
                    <ul>
                        <a href=""><img src="img/test/pic (1).jpg"></a>
                        <a href=""><img src="img/test/pic (2).jpg"></a>
                        <a href=""><img src="img/test/pic (3).jpg"></a>
                        <a href=""><img src="img/test/pic (1).png"></a>
                        <a href=""><span>+24</span></a>
                    </ul>
                     <!--================end some_flowers=============-->
                    <div class="clear"></div>
                    <div class="btn_profile">
                        <span class="btn_profile_like">500</span>
                        <span class="btn_profile_msg">325</span>
                        <span class="btn_profile_view">740</span>
                    </div>
                    <!--================end btn_profile=============-->
                </div>
                <div class="clear"></div>
                <!--================end friends=============-->
            </div>
            <!--============end short_info=================-->
        </div>
        <div class="content_user bs">
           <div class="short_skills">
               <span ng-if="user_info[0].grade==0">دیپلم</span>
               <span ng-if="user_info[0].grade==1">کاردانی</span>
               <span ng-if="user_info[0].grade==2">کارشناسی</span>
               <span ng-if="user_info[0].grade==3">کارشناسی ارشد</span>
               <span ng-if="user_info[0].grade==4">دکترا</span>
               <span ng-if="user_info[0].married==0">مجرد</span>
               <span ng-if="user_info[0].married==1">متاحل</span>
               <span ng-if="user_info[0].gender==0">مرد</span>
               <span ng-if="user_info[0].gender==1">زن</span>
               <span ng-if="user_info[0].status==0">آماده به کار</span>
               <span ng-if="user_info[0].status==1">صاحب کار</span>
            </div>
        </div>
        <!--======================end contant_profile====================-->
        <div class="skills" >
            <img src="img/edjucate.png">
            <span ng-repeat="row in user_skill" ><p ng-if="row[2]==0">{{row[0]}}</p></span>
        </div>
        <!--======================end contant_profile====================-->
        <div class="skills resume">
            <img src="img/resume.png">
            <span ng-repeat="row in user_skill" ><p ng-if="row[2]==1">{{row[0]}}</p></span>
        </div>
        <!--======================end contant_profile====================-->
        <!--======================end contant_profile====================-->
        <div ng-if="user_info[0].description" class="about_person">
            <span class="info_about">در باره امین تکمیلی فرد</span>
            <p>{{user_info[0].description}}</p>
        </div>
        <!--======================end contant_profile====================-->
        <div ng-if="user_info[0].email"  class="profile_about_us">
            <div class="email about_us_b">
                <div class="img"><img src="img/message-64.png" ></div>
                <span><a ng-href="mailto:{{user_info[0].email}}"></a> {{user_info[0].email}}</span>
            </div>
            <div ng-if="user_info[0].mobile" class="tell about_us_b">
                <div class="img"><img src="img/phone8-64.png" ></div>
                <span> {{user_info[0].mobile}}</span>
            </div>
            <div ng-if="user_info[0].address" class="address about_us_b">
                <div class="img"><img src="img/City-64.png" ></div>
                <span> {{user_info[0].address}}</span>
            </div>
        </div>
        <!--======================end about_us====================-->
    </div>
</myprofile-dir>