<hamber-dir></hamber-dir>
<msgarchive-dir>
    <div id="content20" class="snap-content contanet_profile">
        <div id="toolbar">
            <a href="" id="open-right"></a>
            <p class="logo_name" >آرشیو پیام ها</p>
            <div class="icons">
                <a href="" class="refresh_msg"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
<!--======================================================================-->
        <div class="mt_15 grid chat_view">
            <div class="of_list">
                <div class="user_list follower chat_lists">
                    <div ng-repeat="element in datas | orderBy:'-parseInt(msg_id)':true "   class="user_one chat_one" user_id="{{element.msg_id}}" scope="search" >
                        <div ng-if="element.msg_me_id == user_id && element.picname == '' && element.gender == '0'" class="user_one_image"><span style="background-image:url(img/user_men.jpg)"></span></div>
                        <div ng-if="element.msg_me_id == user_id && element.picname == '' && element.gender == '1'" class="user_one_image"><span style="background-image:url(img/user_women.jpg)"></span></div>
                        <div ng-if="element.msg_me_id == user_id && element.picname !='' " class="user_one_image"><span style="background-image:url({{base_url}}/uploads/user_img/{{element.picname}});"></span></div>
                        <div ng-if="element.msg_me_id != user_id && element.my_picname == '' && element.my_gender == '0'" class="user_one_image"><span style="background-image:url(img/user_men.jpg)"></span></div>
                        <div ng-if="element.msg_me_id != user_id && element.my_picname == '' && element.my_gender == '1'" class="user_one_image"><span style="background-image:url(img/user_women.jpg)"></span></div>
                        <div ng-if="element.msg_me_id != user_id && element.my_picname !='' " class="user_one_image"><span style="background-image:url({{base_url}}/uploads/user_img/{{element.picname}});"></span></div>
                        <div class="user_one_info">
                            <h3 ng-if="element.msg_me_id == user_id" class="nm_ch" your_id="{{element.msg_you_id}}" user_gender="{{element.gender}}" user_image="{{element.picname}}">{{element.your_name}}</h3>
                            <h3 ng-if="element.msg_me_id != user_id" class="nm_ch" your_id="{{element.msg_me_id}}" user_gender="{{element.my_gender}}" user_image="{{element.my_picname}}">{{element.my_name}}</h3>
                            <h5 ng-if="element.is_read == '0' && element.msg_you_id == user_id" class="cl_blue">{{element.msg_txt}}</h5>
                            <h5 ng-if="element.is_read != '0' || element.msg_you_id != user_id">{{element.msg_txt}}</h5>
                            <span>{{element.dates}}</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="loading_users"></div>
                <div class="refresh_loading"></div> 
            </div>
        </div>
    </div>
    <!------=======================================================================------>
</msgarchive-dir>

